# Build output
dist
build

node_modules
client/node_modules
server/node_modules
*.log
client/dist
server/dist

# Environment variables
.env.local
.env.*.local

# IDE / Editor
.vscode
.idea
.DS_Store
*.swp
